.keypad {
    flex: 1.2;
    padding: 20px;
    display: flex;

}

.keypad p {
    line-height: 1.875rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keypad_keys {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
}

.keypad_keys p {
    width: 33%;
    height: 25%;
}

.keypad_symbols {
    flex: 1;
}

.keypad_symbols p {
    height: 20%;
    color: gray;
}
